body{
  background: -webkit-linear-gradient(45deg, rgba(242,249,255,1) 0%,rgba(64,150,238,1) 100%); 
  overflow: hidden;
  min-height: 1080px;
}

a {
  font-size: 8px;
  color: black;
  text-decoration: none;
}

a:after {
  color: black;
  text-decoration: none;
}

.cloudcontain1 {
  top: 250px;
  width: 200px;
  height: 150px;
  -webkit-animation: cloudmove1 55s infinite; 
  animation: cloudmove1 55s infinite;
  position: absolute;
  opacity: .7;
}

@-webkit-keyframes cloudmove1 {
    0%   {left: 0;}
    100% {left: 1200px;}
}

@keyframes cloudmove1 {
    0%   {left: 0;}
    100% {left: 100%;}
}

.cloudcontain2 {
  top: 75px;
  width: 200px;
  height: 150px;
  -webkit-animation: cloudmove2 40s infinite; 
  animation: cloudmove2 40s infinite;
  position: absolute;
  -webkit-animation-delay: -16s;
  animation-delay: -16s;
  opacity: .3;
}

@-webkit-keyframes cloudmove2 {
    0%   {left: 0;}
    100% {left: 100%;}
}

@keyframes cloudmove2 {
    0%   {left: 0;}
    100% {left: 100%;}
}

.cloudcontain3 {
  top: 320px;
  width: 200px;
  height: 150px;
  -webkit-animation: cloudmove3 47s infinite; 
  animation: cloudmove3 47s infinite;
  position: absolute;
  -webkit-animation-delay: -8s;
  animation-delay: -8s;
  opacity: .6;
}

@-webkit-keyframes cloudmove3 {
    0%   {left: 0;}
    100% {left: 100%;}
}

@keyframes cloudmove3 {
    0%   {left: 0;}
    100% {left: 100%;}
}


.cloudcontain4 {
  top: 400px;
  width: 200px;
  height: 150px;
  -webkit-animation: cloudmove4 41s infinite; 
  animation: cloudmove4 41s infinite;
  position: absolute;
  -webkit-animation-delay: -13s;
  animation-delay: -13s;
  opacity: .6;
}

@-webkit-keyframes cloudmove4 {
    0%   {left: 0;}
    100% {left: 100%;}
}

@keyframes cloudmove4 {
    0%   {left: 0;}
    100% {left: 100%;}
}


.cloud1 {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: white;
    position :absolute;
    z-index: 1;
    margin: 15px;
}

.cloud2 {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: white;
    position :absolute;
    z-index: 1;
    margin: 45px;
}

.cloud3 {
    width: 75px;
    height: 75px;
    border-radius: 45px;
    background: white;
    position :absolute;
    z-index: 1;
    margin: 0px;
    top: 50px;
}


.sand {
  background: #FFDEAA;
  width: 100%;
  height: 10px;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 5;
}

.container {
  margin-top: 20px;
  text-align: center;
}

.item{
  font-size: 0.5rem;
  margin: 1.5rem;
  position: relative;
  display: inline-block;
}

.red {
  width:6em;
  height:5em;
  background-color:  #ff4355;
  box-shadow: inset 0.2em -0.2em  #cc1022;
  border-radius: 2em 2em 3em 3em;
  position:absolute;
  top: 1em;
  left:0.3em;
}

.red:before {
  top:-.2em;
  left:1.8em;
  content:"";
  width:4.1em;
  height:2.75em;
  background-color: inherit;
  border-radius: 3em 3em 0 0 ;
  position: absolute;
  box-shadow:-1.5em 0 0   #ff4355, inset .2em 0.2em  #ff4355;
}

.red:after{
  content:"";
  width: 0.2em;
  height: 1em;
  background-color:brown;
  position:absolute;
  z-index: 2;
  top: -0.5em;
  left: 3em;
}

.yellow {
  width:5.4em;
  height: 5.4em;
  margin-top: 1.2em;
  background-color: #d7c322;
  border-radius: 50% 15% 50% 50%;
  transform: rotate(-45deg);
  box-shadow: inset .15em .25em #c3b11f;
  position: absolute;
  left: 0.6em;
}

.yellow:after{
  content:"";
  width: 0.2em;
  height: 1em;
  background-color:brown;
  position:absolute;
  z-index: 2;
  top: -0.2em;
  left: 5.1em;
  transform: rotate(45deg);
}

.blue {
  position: absolute;
  width:6em;
  height: 5.5em;
  top: 0.6em;
  left:0.4em;
  border-radius: 50%;
  background-color: #89a2ca;
  box-shadow: inset 0.2em -.2em  #6081B8;
}

.blue:before{
  content: "";
  width: 2em;
  height: 1em;
  left: 2em;
  position: absolute;
  background-color: #3e4d64;
  border-radius:50%;
}

.green {
  width:6em;
  height:5em;
  background-color:  rgb(41,154,11);
  box-shadow: inset 0.2em -0.2em  rgb(41,154,11);
  border-radius: 2em 2em 3em 3em;
  position:absolute;
  top: 1em;
  left:0.3em;
}

.green:before {
  top:-.2em;
  left:1.8em;
  content:"";
  width:4.1em;
  height:2.75em;
  background-color: inherit;
  border-radius: 3em 3em 0 0 ;
  position: absolute;
  box-shadow:-1.5em 0 0   rgb(41,154,11), inset .2em 0.2em  rgb(41,154,11);
}

.green:after{
  content:"";
  width: 0.2em;
  height: 1em;
  background-color:brown;
  position:absolute;
  z-index: 2;
  top: -0.5em;
  left: 3em;
}

.view_crow{
  width:40px;
  height:40px;
  border-radius:20%;
  background-color:#000;
  position:relative;
  box-shadow:0 0 10px #000;
  margin-top:20px;
}
.view_crow__eye{
  width:5px;
  height:5px;
  background-color:#fff;
  border-radius:50%;
  left:25%;
  top:10%;
  position:absolute;
  margin-left:-25px;
}

.view_crow__eye{
  width:10px;
  height:10px;
  background-color:#fff;
  border-radius:50%;
  left:25%;
  top:10%;
  position:absolute;
  margin-left: -5%;
}
.view_crow__eye_1{
  width:6px;
  height:6px;
  background-color:#000;
  position:absolute;
  left:2px;
  top:2px;
  border-radius:50%;
  animation: eye1 4s infinite;
}
.view_crow__eye_2{
  width:4px;
  height:4px;
  background-color:#FFF;
  position:absolute;
  left:0px;
  top:0px;
  border-radius:50%;
  animation: eye2 4s infinite;
}



.view_crow__pecker{
  position:absolute;
  right:0px;
  top:0px;
  width:50%;
  height:30%;
  background-color:#F4A400;
  border-radius:0 50% 0 5px;
  box-shadow: -60px -20px 20px #f46200 inset , 0px 0px 10px #f46200;
}
.view_crow__wing{
  position:absolute;
  left:5px;
  bottom:5px;
  width:15px;
  height:15px;
  background-color:#FFF;
  border-radius: 70px 5px 70px 70px;
  opacity:0.12;
  animation: wing 4s infinite;
}
